@charset "UTF=8";

header{
    background-image: url(imagens-sakura/headerr.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    min-height: 300px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.575);
}

nav{
   text-align: center;
   padding-top: 15px;
    
}

nav > a {
    color: black;
    font-size: 1.2em;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    padding:5px;
    transition: 0.5s;
}
nav a:hover{
    text-shadow: 0px 0px 8px black;
    color: white;
    text-decoration: underline;
}
nav a#naruto:hover{
    text-shadow: 0px 0px 8px black;
    color: rgb(226, 186, 8);
    text-decoration: underline;
}
nav a#sasuke:hover{
    text-shadow: 0px 0px 8px black;
    color: rgb(71, 5, 116);
    text-decoration: underline;
}
nav a#sakura:hover{
    text-shadow: 0px 0px 8px black;
    color: #E2798B;
    text-decoration: underline;
}

img#titulo{
    width:50%;
    margin:auto;
    display: block;
    
}


.sakura{

    display: block;
    margin: 30px auto 0px auto;
    border-radius: 20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.596);
   
}
div#img{
    min-width:200px ;
    max-width:700px;
    margin:30px auto 30px auto;
    display: block;
    
}
img#time7{
    width: 100%;
    border-radius: 20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.596);
    
}

div#video{
    position: relative;
    margin: 30px auto 30px auto;
}
video{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius:20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.596);


}

ul{
    text-align: justify;
}
ul > li{
    display: inline-block;
    text-align: justify;
    
}

ul::after{
    content: '';
    display: inline-block;
    width: 100%;
}

.imagens{
    width: 100%;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.596);
}

strong{
    color: #E2798B;
}